
<% form_for [ @project, @nav_item ] do |form| %>
	<fieldset>
		<legend>Edit Navigation Item</legend>
		<%= render :partial => form %>
	
		<div class="actions">
			<%= form.submit 'Save', :class => 'btn primary' %>
			<%= link_to 'Cancel', project_path(@project), :class => 'btn' %>
		</div>
	</fieldset>
<% end %>