<h2>Navigation Items for project <%= @project.name %></h2>

<%= link_to '+ new', new_project_nav_item_path(@project) %>

<ul>
	<% @nav_items.each do |nav_item| %>
	<li>
		<%= link_to nav_item.label, edit_project_nav_item_path(@project, nav_item) %>
	</li>
	<% end %>
</ul>