code {
  background-color: #ddd;
}

pre code {
  background-color: transparent;
}

.footer p {
  font-size: 0.8em;
  margin: 0;
}

.footer {
  width: 80%;
  
  font-style: italic;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}