<div class="row">
	<div class="span8 columns">
	<h2><%= @project.name %></h2>	
		
	<% form_for [ @project, @page ] do |form| %>
		<fieldset>
			<legend>Edit Page</legend>
			<%= render :partial => form %>
	
			<div class="actions">
				<%= form.submit 'Save', :class => 'btn primary' %>
				<%= link_to 'Cancel', project_path(@project), :class => 'btn' %>
			</div>
	<% end %>
	</div>
</div>