<% form_for [ @project, @page ] do |form| %>
	<fieldset>
		<legend>New Page</legend>
		<%= render :partial => form %>
	
	<div class="actions">
		<%= form.submit 'Save', :class => 'btn primary' %>
		<%= link_to 'Cancel', project_path(@project), :class => 'btn' %>
	</div>
<% end %>