<h2>Edit Project</h2>

<fieldset>
	<legend>Edit Project</legend>
	<% form_for @project do |form| %>
		<%= render :partial => form %>
	
		<div>
			<%= form.submit 'Save' %>
			[ reset ]
		</div>
	<% end %>
</fieldset>

<fieldset>
	<legend>Navigation Items [ <%= link_to '+ new', new_project_nav_item_path(@project) %>]</legend>
	
	<ul>
		<% @project.nav_items.each do |nav_item| %>
		<li>
			<%= link_to nav_item.label, edit_project_nav_item_path(@project, nav_item) %>
		</li>
		<% end %>
	</ul>
	
</fieldset>

<fieldset>
	<legend>Pages</legend>
</fieldset>

<fieldset>
	<legend>News Tags</legend>
</fieldset>