
<% form_for @project do |form| %>
	<fieldset>
		<legend>New Project</legend>
		<%= render :partial => form %>
	
		<div class="actions">
			<%= form.submit 'Save', :class => 'btn primary' %>
			<%= link_to raw('Cancel'), projects_path, :class => 'btn' %>
		</div>
	</fieldset>
<% end %>