<div class="topbar">
	<div class="container fixed">
		<h3><a class="logo" href="/#{@project.slug}"><%= @project.name %></a></h3>

		<ul>
		<%= render :partial => '/layouts/pages/nav_item', :collection => @project.nav_items.primary.all %>
		</ul>
		
		<ul class="nav secondary-nav">
		<%= render :partial => '/layouts/pages/nav_item', :collection => @project.nav_items.secondary.all %>
		</ul>
	</div>
</div>